{% extends 'base.html' %}

{% block content %}
<body>
    <div class="body1">
        <div id="body-head">
            <h1>Placement and Career Services Booking Platform</h1>
            
        </div>
        <div class="form-group">
            <div id="contents">
                <h2>Career Services Appointment Form</h2>
                <form action="" id="myform" action="" method="post" novalidate>
                        <div class="form-input">
                            {{ form.name.label }}
                            {{ form.name(size=32) }}
                        </div>
                        <div class="form-input">
                            {{ form.email.label }}
                            {{ form.email(size=50) }}
                        </div>
                        <div class="form-input">
                            {{ form.appointment.label }}
                            {{ form.appointment }}
                        </div>
                        <div class="form-input">
                            {{form.date_time.label}}
                            {{form.date_time()}}
                        </div>     
                        <div class="form-button">
                            {{ form.submit() }}
                        </div>      
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p>{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                </form>                 
            </div>  
                     
        </div>
        
    </div>
</body>
    
    



{% endblock %}