{%extends 'base.html'%}

{% block content %}
<body>
    <div class="body1">
        <div id="body-head">
            <h1>Placement and Career Services Admin Menu</h1>
            
        </div>
        <div class="admin-buttons">
            <div class="button-group"> 
                <a href = "{{url_for('administration.generate')}}">
                <button id="view-schedule">View Schedule</button>
                </a>
            </div> 
            <div class="button-group"> 
                <a href = "{{url_for('administration.editTimes')}}" >
                <button id="edit-availability">Edit Availability</button>
                </a>
            </div> 
            <div class="button-group"> 
                <a href = "{{url_for('appoint.reschedule')}}" >
                <button id="reschedule-appointment">Reschedule Appointment</button>
                </a>
            </div> 
            <div class="button-group"> 
                <div id="view-log-btn">
                <a href = "{{url_for('administration.log')}}" >
                    <button id="view-log">View Log of Events </button>
                </a>
                </div>
            </div> 
        </div>
        
        
    </div>

</body>
{% endblock %}