{%extends 'base.html'%}

{% block content%}
<body>
    <div class="form-group">
        <div id="contents">
            <h2>Career Services Reschedule Form</h2>
            <form action="" id="myform" action="" method="post" novalidate>

               

                <div class="form-input">
                    {{ form.start_date.label }}
                    {{ form.start_date()}}
                    {{ form.end_date.label }}
                    {{ form.end_date()}}
                </div>
                <div class="form-input">
                    {{ form.start_time.label }}
                    {{ form.start_time()}}
                    {{ form.end_time.label }}
                    {{ form.end_time()}}
                </div>
                <div class="form-input">
                    {{ form.breaktime.label }}
                    {{ form.breaktime() }}
                </div>
                <div class="form-input">
                    {{ form.interval.label }}
                    {{ form.interval() }}
                </div>
                <div class="form-input">
                    
                </div>
                <div class="form-input">
                    {{form.companies.label}}
                    {{form.companies()}}
                </div>     
                <div class="form-button">
                    {{ form.submit() }}
                </div>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p>{{msg}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>                 
        </div>
        
</body>

{% endblock %}